<app-profile></app-profile>
<app-summary 
    summary = "These are the jobs related to what I'm applying for" 
    skills = "This is the first professional summary of skills and abilities pertinent to this job hunt"
    >
    
</app-summary>
<!-- The jobs should be added to the summary but it's good to add it here as a backup

<app-job></app-job>
-->
<app-summary2 
    summary="These are the other jobs I've worked professionally"
    skills="These are some other skills I've used over the years"
>

</app-summary2>
<router-outlet></router-outlet>