<h4>{{skills}}</h4>
<ul *ngFor="let d of majorDuties">
    <li>{{d}}</li>
</ul>
<app-job 
    company="Nordy's"
    title = "Dishwasher" 
    summary="At Nordy's I would be required to work with the cooks and the bussers 
        to ensure efficient use of water and my time"
    [duties] = "['wash dishes','clean']"
    locUrl="http://www.nordysbbq.com/"
    startDate = "2021-12"
    endDate = "2022-06"
>
</app-job>
<app-job 
        company="Nordy's"
        title = "Dishwasher" 
        [duties] = "['wash dishes','clean']"
        >
</app-job>
<!--
<ng-content 
></ng-content>
-->

<br>

<p>{{summary}}</p>

<!--
<ul *ngFor="let j of dutieList">
    <li>{{j}}</li>
</ul>
-->
