<h1 class="text-center">
    PRODUCT COMPONENT TEMPLATE
</h1>
<br><br>
<h2 [ngClass]="getTitleClass()"
*ngIf="dataSource.getProducts().length > 0">
    There are {{dataSource.getProducts().length}} products to explore
</h2>
<h2 class = "bg-danger p-2 text-white text-center" *ngIf="dataSource.getProducts().length == 0">
    There are no products at the moment
</h2>
<!-- <div *ngFor="let p of dataSource.getProducts()">
    Product is called {{p.prodname}}
</div> -->
<table class = "table table-sm table-bordered mt-1 text-dark p-2">
    <tr>
        <th>Sl.no</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>

    <tr *ngFor="let p of dataSource.getProducts();
        let i = index;
        let o = odd;
        let e = even;
        let f = first;
        let l = last"
        [class.bg-primary] = "f&&e || l&&o"
        [class.bg-success] = "e"
        [class.bg-warning] = "o"
        >
        <td>{{i+1}}</td>
        <td>{{p.prodname}}</td>
        <td>{{p.category}}</td>
        <td>{{p.price}}</td>
    </tr>
</table>