<!-- <div class="container mt-5">
    <div class="card text-center" style="color: green; padding: 20px;">
        <h1>You are Admin</h1>
        <h2>Admin Message = {{message}}</h2>
        <button class="btn btn-sm btn-info" (click)="adminApi()">Call /Welcome From Server</button>
    </div>
</div> -->
<h1 class="text-center m-3">
    ADMIN AREA
</h1>
<div class="container">
    <div class="row">
        <div class="col-3">
            <ul>
                <li class="nav-item"><a [routerLink]="['createaccount']" class="nav-link">CREATE NEW ACCOUNT</a></li>
                <li class="nav-item"><a [routerLink]="['showallaccounts']" class="nav-link">SHOW ALL ACCOUNTS</a></li>
            </ul>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

