<h1 class="text-white bg-success text-center">
     WELCOME {{customer.firstname}}
</h1>
<br>
<div class="cotainer">
    <div class="row">
        <div class="col">
            <table>
                <tr>
                    <td>Account Number</td>
                    <td>{{bankAccount.actNumber}}</td>
                </tr>
                <tr>
                    <td>Firstname</td>
                    <td>{{customer.firstname}}</td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td>{{customer.lastname}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{customer.city}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{customer.phone}}</td>
                </tr>
                <tr>
                    <td>Account Type</td>
                    <td>{{bankAccount.actType}}</td>
                </tr>
                <tr>
                    <td>Account Balance</td>
                    <td>{{bankAccount.actBalance}}</td>
                </tr>
                <tr>
                    <td>Account Open Date</td>
                    <td>{{bankAccount.actCreationDate}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>
