<h1 class="bg-warning text-white text-center p-3">
    Home Page
</h1>

<div class="container-fluid">
    <div class="row">
        <div class = col-12>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita culpa placeat, itaque fugiat ex pariatur impedit nesciunt ullam cum autem provident voluptatum nostrum at, facere quidem amet dolorum quaerat aliquam.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores hic, ea culpa praesentium porro quos perferendis quo delectus ut placeat accusantium, provident at consequuntur id officia inventore voluptatibus harum iure.
        </div>
    </div>
</div>